// Import all partials
@require './_*.styl'

header.store // entire store header
  //background pink
  text-align center
  margin 0
  padding 0

  img#yarn-logo
      max-width 100px
      height auto
      position relative
  
  h1 // store name
    // background purple
    font-size 8rem
    display inline-block
    justify-content: center
    margin-bottom 0
    &#yarn
      margin-right 5px
    &#shop
      margin-left -30px

  h3 // store tagline
    margin 0
    color #black
    position relative
    display block
    margin-bottom 5px
    span // store tagline
      background white
      font-size 2rem
      position relative
      padding-left 0
      padding-right 0
    &:before, &:after // before and after the store tagline (decorative lines)
      display block
      background black
      position absolute
      width 130%
      height 1px
      top 5px
    &:after
      top auto
      bottom 7px

  @media (min-width: 1400px)
    img#yarn-logo
      max-width 125px
    
    h1 // store name
      // background purple
      font-size 14rem
      margin-bottom 20px
      &#yarn
        margin-right 5px
      &#shop
        margin-left -40px
      
    h3 // store tagline
      margin 0
      font-size 2rem
      color black
      margin-bottom 20px
      span // store tagline
        background white
        font-size 2.5rem

        padding-left 1rem
        padding-right 1rem
      
ul
  list-style none
  margin 0
  padding 0

.catch-of-the-day // the entire store componenet - store, order, inventory
  display flex 
  justify-content center
  & > * // ALL FLEX CHILDREN
      flex-direction: column
      padding 1rem // section padding
      border 2px solid black
      position relative
      background white
      transition all 0.3s
      overflow scroll
      &:first-child
        flex-basis 100%
        //background red
      &:nth-child(2)
        flex-basis 30%
        //background orange
      &:last-child
        overflow-y scroll
        right 0
        max-width 400px
        //background yellow

  @media (min-width: 1400px)
    & > * // ALL FLEX CHILDREN
      flex-direction: column
      padding 2rem // section padding
      &:first-child
        flex-basis 70%
        //background red

#admin-panel-container
  position fixed
  height 100%
  padding 0
  border none
  background transparent
  &.slideIn 
    transform: translateX(0)
  &.slideOut 
    transform: translateX(90%)
  #admin-panel
    position relative
    padding 10px
    margin-left 30px
    transform: translateX(0)
    transition: transform 400ms ease-in
    text-align center
  button#admin-panel-btn 
    background-color: #e77fc0
    color white
    position: absolute
    top: 80%
    left: -20px
    width: 160px
    height: 40px
    transform: rotate(-90deg) translateY(0)
    transition: transform 400ms ease-in
    &:active, &:focus
      color #e77fc0
      color white
    &:hover
      color black
      background white
    &#admin-panel-btn.closed
      transform: rotate(-90deg) translateY(-100%)
    &#admin-panel-btn.open
      transform: rotate(-90deg) translateY(-100%)
  

.item-edit // admin panel item management forms
  margin-bottom 20px
  border 2px solid black
  overflow hidden
  display flex
  flex-wrap wrap
  input, textarea, select
    width 33.33%
    padding 10px
    line-height 1
    font-size 1.2rem
    border 0
    border-bottom 1px solid black
    border-right 1px solid black
    appearance none
    border-radius 0
    background white
    &:focus
      outline 0
      background lighten(orange, 85%)
  textarea
    width 100%
  input:last-of-type
    width 100%
  button
    width 100%
    border 0
    background #e77fc0

#inventory-header-title, #order-header-title 
  color #e77fc0

.inventory // Admin Panel
  position relative
  padding 10px
  min-height 800px
  background white
  border 2px solid black
  #remove-order-item-btn
    background: #e77fc0
  div.logout-btn button
    margin-bottom 10px
    background #e77fc0

.order-wrap 
  display none
  @media (min-width: 1400px)
    display: block
    .order-title
      text-align center

    ul.order
      // Default state
      li
        border-bottom 1px solid black
        padding 2rem 0
        display flex
        font-size 1.6rem
        justify-content space-between
        align-items center
        button
          border 0
          display inline
          line-height 1
          right 0
          margin-left 15px
        &.unavailable
          text-decoration line-through
          background lighten(red, 80%)
        .price
          font-size 1.4rem
        span.count
          position relative
          overflow hidden
          float left // only works if it's floated?!
          margin-left 10px
          margin-right 15px
          span
            display inline-block
            // transition all 0.5s
    .total
      padding 2rem 0
      font-size 1.6rem
      border-bottom 3px solid black
      border-top 3px double black
      & strong
        float: right

// Store Styles
.list-of-items
  border-top 2px solid black
  border-bottom 1px solid black
  padding-top 5px
  margin-top 2rem
  transform translateZ(0);

.store-item // Store Items
  border-bottom 2px solid black
  border-top 1px solid black
  padding-bottom 10px
  padding-top 10px
  margin-bottom 5px
  clear both
  overflow hidden
  display: flex
  flex-direction: column
  // background pink
  .item-header
      font-family 'bellota', sans-serif
      font-size 3.5rem
      color #e77fc0
      // background red
      padding 5px
      display: flex
    .item-name 
      margin 0
      flex-basis: 95%
      // background: lightgreen
    div.price
      font-size 2rem
      // background: lightyellow
      color black
      display: flex
      flex-direction: column      
      justify-content: center   

  .item-info 
    display: flex
    flex-direction: column
    .item-desc
      // background yellow
      display: flex
      flex-direction: column
      align-items: flex-start   
      justify-content: space-between
      flex 1  
      p
        margin 0
        font-size 1.8rem
        padding 10px
        // background lightblue
      button.add-to-order-btn
        margin 10px
        // background: lavender
        padding 5px
    .img-container
      padding 5px
      text-align: center
      // background: blue
      .item-photo
        width: 100%
        height auto
        min-width:175px
        max-width: 500px
        border 2px dashed black

  @media (min-width: 800px)
    .item-info 
      flex-direction: row
      .item-desc
        // background yellow
        flex-basis 80%

      .img-container
        flex-basis: 20%
        padding 10px
        // background: blue
        .item-photo
          width: 20%

button, input[type=submit]
  text-transform uppercase
  background none
  border 1px solid black
  color white
  background:  #e77fc0
  font-weight 600
  font-size 1.5rem
  font-family 'Open Sans', sans-serif
  transition all 0.2s
  position relative
  z-index 0

  &[disabled]
    color #e77fc0
    background white
    border-color #e77fc0
    &:hover
      color #e77fc0
      cursor not-allowed
    &:after
      display none
  &:after
    content ''
    z-index -1
    display block
    background white
    position absolute
    width 100%
    height 0
    left 0
    top 0
    transition all 0.2s
  &:hover
    color black
    outline 0
    &:after
      height 100%
  
  // variants
  &.warning
    &:after
      background red
  &.success
    &:after
      background green

  &.github, &.facebook, &.twitter
    border 0
    display block
    margin-bottom 2rem
    width 100%
    color white
    padding 2rem

  &.github
    background #82D465
    &:after
      background darken(#82D465, 20%)

  &.facebook
    background #3864A3
    &:after
      background darken(#3864A3, 20%)

  &.twitter
    background #5EA9DD
    &:after
      background darken(#5EA9DD, 20%)

  @media (min-width: 1400px)
    &[disabled]
      color #e77fc0
      background white
      border-color #e77fc0
      transform rotate(-25deg) scale(2) translateX(482%) translateY(550%)

// Store Selector
.store-selector
  background white
  max-width 500px
  margin 50px auto
  padding 2rem
  border 2px solid black
  input, button
    width 100%
    &[type="text"]
      text-align center
      font-size 3rem
