@font-face {
  font-family: "sacramento";
  src: url("./fonts/Sacramento-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-size: 5rem;
}

@font-face {
  font-family: "amatic-sc";
  src: url("./fonts/AmaticSC-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bellota";
  src: url("./fonts/Bellota-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "caveat";
  src: url("./fonts/Caveat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "handlee";
  src: url("./fonts/Handlee-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "itim";
  src: url("./fonts/Itim-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "liu-jian-mao-cao";
  src: url("./fonts/LiuJianMaoCao-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-alternates";
  src: url("./fonts/MontserratAlternates-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quicksand";
  src: url("./fonts/Quicksand-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blanchcaps_inline';
  src: url('./fonts/blanch_caps_inline-webfont.eot');
  src: url('./fonts/blanch_caps_inline-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/blanch_caps_inline-webfont.woff') format('woff'),
       url('./fonts/blanch_caps_inline-webfont.ttf') format('truetype'),
       url('./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline') format('svg');
  font-weight: normal;
  font-style: normal;
}
