.order-enter {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-height: 0;
  padding: 0 !important;
}
.order-enter.order-enter-active {
  max-height: 60px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 2rem 0 !important;
}
.order-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.order-exit.order-exit-active {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  padding: 0;
}
.count-enter {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.count-enter.count-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-exit {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  position: absolute;
  left: 0;
  bottom: 0;
}
.count-exit.count-exit-active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@font-face {
  font-family: "sacramento";
  src: url("./fonts/Sacramento-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-size: 5rem;
}
@font-face {
  font-family: "amatic-sc";
  src: url("./fonts/AmaticSC-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bellota";
  src: url("./fonts/Bellota-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "caveat";
  src: url("./fonts/Caveat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "handlee";
  src: url("./fonts/Handlee-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "itim";
  src: url("./fonts/Itim-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "liu-jian-mao-cao";
  src: url("./fonts/LiuJianMaoCao-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat-alternates";
  src: url("./fonts/MontserratAlternates-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "quicksand";
  src: url("./fonts/Quicksand-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blanchcaps_inline';
  src: url("./fonts/blanch_caps_inline-webfont.eot");
  src: url("./fonts/blanch_caps_inline-webfont.eot?#iefix") format('embedded-opentype'), url("./fonts/blanch_caps_inline-webfont.woff") format('woff'), url("./fonts/blanch_caps_inline-webfont.ttf") format('truetype'), url("./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline") format('svg');
  font-weight: normal;
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
h1 {
  font-family: 'blanchcaps_inline', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'bellota', sans-serif;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
}
h3 span {
  font-size: 3rem;
}
header.store {
  text-align: center;
  margin: 0;
  padding: 0;
}
header.store img#yarn-logo {
  max-width: 100px;
  height: auto;
  position: relative;
}
header.store h1 {
  font-size: 8rem;
  display: inline-block;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 0;
}
header.store h1#yarn {
  margin-right: 5px;
}
header.store h1#shop {
  margin-left: -30px;
}
header.store h3 {
  margin: 0;
  color: #bbb lack;
  position: relative;
  display: block;
  margin-bottom: 5px;
}
header.store h3 span {
  background: #fff;
  font-size: 2rem;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
header.store h3:before,
header.store h3:after {
  display: block;
  background: #000;
  position: absolute;
  width: 130%;
  height: 1px;
  top: 5px;
}
header.store h3:after {
  top: auto;
  bottom: 7px;
}
@media (min-width: 1400px) {
  header.store img#yarn-logo {
    max-width: 125px;
  }
  header.store h1 {
    font-size: 14rem;
    margin-bottom: 20px;
  }
  header.store h1#yarn {
    margin-right: 5px;
  }
  header.store h1#shop {
    margin-left: -40px;
  }
  header.store h3 {
    margin: 0;
    font-size: 2rem;
    color: #000;
    margin-bottom: 20px;
  }
  header.store h3 span {
    background: #fff;
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.yarn-shop {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
.yarn-shop > * {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 1rem;
  border: 2px solid #000;
  position: relative;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: scroll;
}
.yarn-shop > *:first-child {
  flex-basis: 100%;
}
.yarn-shop > *:nth-child(2) {
  flex-basis: 30%;
}
.yarn-shop > *:last-child {
  overflow-y: scroll;
  right: 0;
  max-width: 400px;
}
@media (min-width: 1400px) {
  .yarn-shop > * {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 2rem;
  }
  .yarn-shop > *:first-child {
    flex-basis: 70%;
  }
}
#admin-panel-container {
  position: fixed;
  height: 100%;
  padding: 0;
  border: none;
  background: transparent;
}
#admin-panel-container.slideIn {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
#admin-panel-container.slideOut {
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
}
#admin-panel-container #admin-panel {
  position: relative;
  padding: 10px;
  margin-left: 30px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
  text-align: center;
}
#admin-panel-container button#admin-panel-btn {
  background-color: #e77fc0;
  color: #fff;
  position: absolute;
  top: 80%;
  left: -20px;
  width: 160px;
  height: 40px;
  -webkit-transform: rotate(-90deg) translateY(0);
          transform: rotate(-90deg) translateY(0);
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}
#admin-panel-container button#admin-panel-btn:active,
#admin-panel-container button#admin-panel-btn:focus {
  color: #e77fc0;
  color: #fff;
}
#admin-panel-container button#admin-panel-btn:hover {
  color: #000;
  background: #fff;
}
#admin-panel-container button#admin-panel-btn#admin-panel-btn.closed {
  -webkit-transform: rotate(-90deg) translateY(-100%);
          transform: rotate(-90deg) translateY(-100%);
}
#admin-panel-container button#admin-panel-btn#admin-panel-btn.open {
  -webkit-transform: rotate(-90deg) translateY(-100%);
          transform: rotate(-90deg) translateY(-100%);
}
.item-edit {
  margin-bottom: 20px;
  border: 2px solid #000;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.item-edit input,
.item-edit textarea,
.item-edit select {
  width: 33.33%;
  padding: 10px;
  line-height: 1;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
}
.item-edit input:focus,
.item-edit textarea:focus,
.item-edit select:focus {
  outline: 0;
  background: #fef2de;
}
.item-edit textarea {
  width: 100%;
}
.item-edit input:last-of-type {
  width: 100%;
}
.item-edit button {
  width: 100%;
  border: 0;
  background: #e77fc0;
}
#inventory-header-title,
#order-header-title {
  color: #e77fc0;
}
.inventory {
  position: relative;
  padding: 10px;
  min-height: 800px;
  background: #fff;
  border: 2px solid #000;
}
.inventory #remove-order-item-btn {
  background: #e77fc0;
}
.inventory div.logout-btn button {
  margin-bottom: 10px;
  background: #e77fc0;
}
.order-wrap {
  display: none;
}
@media (min-width: 1400px) {
  .order-wrap {
    display: block;
  }
  .order-wrap .order-title {
    text-align: center;
  }
  .order-wrap ul.order li {
    border-bottom: 1px solid #000;
    padding: 2rem 0;
    display: -webkit-box;
    display: flex;
    font-size: 1.6rem;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  }
  .order-wrap ul.order li button {
    border: 0;
    display: inline;
    line-height: 1;
    right: 0;
    margin-left: 15px;
  }
  .order-wrap ul.order li.unavailable {
    text-decoration: line-through;
    background: #f8d0d2;
  }
  .order-wrap ul.order li .price {
    font-size: 1.4rem;
  }
  .order-wrap ul.order li span.count {
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 10px;
    margin-right: 15px;
  }
  .order-wrap ul.order li span.count span {
    display: inline-block;
  }
  .order-wrap .total {
    padding: 2rem 0;
    font-size: 1.6rem;
    border-bottom: 3px solid #000;
    border-top: 3px double #000;
  }
  .order-wrap .total strong {
    float: right;
  }
}
.list-of-items {
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 5px;
  margin-top: 2rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.store-item {
  border-bottom: 2px solid #000;
  border-top: 1px solid #000;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.store-item .item-header {
  font-family: 'bellota', sans-serif;
  font-size: 3.5rem;
  color: #e77fc0;
  padding: 5px;
  display: -webkit-box;
  display: flex;
}
.store-item .item-name {
  margin: 0;
  flex-basis: 95%;
}
.store-item div.price {
  font-size: 2rem;
  color: #000;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
.store-item .item-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.store-item .item-info .item-desc {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
          flex: 1;
}
.store-item .item-info .item-desc p {
  margin: 0;
  font-size: 1.8rem;
  padding: 10px;
}
.store-item .item-info .item-desc button.add-to-order-btn {
  margin: 10px;
  padding: 5px;
}
.store-item .item-info .img-container {
  padding: 5px;
  text-align: center;
}
.store-item .item-info .img-container .item-photo {
  width: 100%;
  height: auto;
  min-width: 175px;
  max-width: 500px;
  border: 2px dashed #000;
}
@media (min-width: 800px) {
  .store-item .item-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .store-item .item-info .item-desc {
    flex-basis: 80%;
  }
  .store-item .item-info .img-container {
    flex-basis: 20%;
    padding: 10px;
  }
  .store-item .item-info .img-container .item-photo {
    width: 20%;
  }
}
button,
input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: 1px solid #000;
  color: #fff;
  background: #e77fc0;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 0;
}
button[disabled],
input[type=submit][disabled] {
  color: #e77fc0;
  background: #fff;
  border-color: #e77fc0;
}
button[disabled]:hover,
input[type=submit][disabled]:hover {
  color: #e77fc0;
  cursor: not-allowed;
}
button[disabled]:after,
input[type=submit][disabled]:after {
  display: none;
}
button:after,
input[type=submit]:after {
  content: '';
  z-index: -1;
  display: block;
  background: #fff;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover,
input[type=submit]:hover {
  color: #000;
  outline: 0;
}
button:hover:after,
input[type=submit]:hover:after {
  height: 100%;
}
button.warning:after,
input[type=submit].warning:after {
  background: #d12028;
}
button.success:after,
input[type=submit].success:after {
  background: #2dc22d;
}
button.github,
input[type=submit].github,
button.facebook,
input[type=submit].facebook,
button.twitter,
input[type=submit].twitter {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
}
button.github,
input[type=submit].github {
  background: #82d465;
}
button.github:after,
input[type=submit].github:after {
  background: #5cc437;
}
button.facebook,
input[type=submit].facebook {
  background: #3864a3;
}
button.facebook:after,
input[type=submit].facebook:after {
  background: #2d5082;
}
button.twitter,
input[type=submit].twitter {
  background: #5ea9dd;
}
button.twitter:after,
input[type=submit].twitter:after {
  background: #2c8dd0;
}
@media (min-width: 1400px) {
  button[disabled],
  input[type=submit][disabled] {
    color: #e77fc0;
    background: #fff;
    border-color: #e77fc0;
    -webkit-transform: rotate(-25deg) scale(2) translateX(482%) translateY(550%);
            transform: rotate(-25deg) scale(2) translateX(482%) translateY(550%);
  }
}
.store-selector {
  background: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid #000;
}
.store-selector input,
.store-selector button {
  width: 100%;
}
.store-selector input[type="text"],
.store-selector button[type="text"] {
  text-align: center;
  font-size: 3rem;
}
